<link rel="stylesheet" href="/css/header.css">

<div id='header'>
    <button id='delete'><img src="/images/delete.png"> </button>
    <button id='add' type="submit" form="todoform"><img src="/images/add.png"> </button>
    
</div>